* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.catalog-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $productCardWidth);
  grid-template-rows: repeat(2, $productCardHeight);
  column-gap: $productCardGapX;
  row-gap: $productCardGapY;
  margin-top: 50px;
}

@mixin elementContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
