* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.catalog-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, $productCardWidth);
  grid-template-rows: repeat(auto-fit, $productCardHeight);
  column-gap: $productCardGapX;
  row-gap: $productCardGapY;
  max-width: $productCardWidth * 4 + $productCardGapX * 3;
  margin: 50px auto;
}

@mixin elementContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
